<!DOCTYPE html>

<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" />
    <title></title>
</head>
<body>
    <ul>
        @foreach (var book in ViewBag.Books)
        {
            <li>@book.Title - @book.Author</li>
        }
    </ul>
</body>
</html>